* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', opensans-serif;
    font-size: 0;
}

.wrapper {
    width: 1200px;
    padding: 30px 0;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 126px;
    color: #95e1d3;
}

.logo {
}

.logo-link {
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
    font-size: 30px;
}

.navigation {
    width: 40%;
    display: block;
    margin-bottom: bottom;
    padding-bottom: 4px;
    text-decoration: none;

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-list {
}

.link-item {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #95e1d3;
    padding-bottom: 12px;
}

.link-list:hover>.link-item {
    box-shadow: 0px 3px 0 #f38181;
    transition-duration: 200ms;
    text-shadow: -0.2px 0 #95e1d3, 0 0.2px #95e1d3, 0.2px 0 #95e1d3, 0 -0.2px #95e1d3;
}

.main {
}

.title-1 {
    text-align: center;
}

.small-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 100;
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 18px;
    text-transform: uppercase;
}

.box {
    margin: auto;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-top: 42px;
    margin-bottom: 46px;
}

.services {
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    width: 30%;
    margin-bottom: 100px;
    display: flex;
}

.service-img {
    padding: 0 25px;
}

.service-wrapper {
}

.service-title {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-text {
    font-size: 15px;
    font-weight: 300;
}

.title-2 {
    text-align: center;
}

.title-2-text {
    font-size: 15px;
    color: #999;
    padding: 0 112px;
    margin-bottom: 55px;
}

.team {
}

.team-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5; 
    list-style: none;

}

.team-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-pic {
    margin-bottom: 30px;
}

.pic-wrapper:hover>.member-pic{
    transform: translate(-10px, -10px);
    transition-duration: .2s;
}

.member-name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-weight: 300;
    margin-top: 30px;
}

.member-position {
    font-style: italic;
    text-transform: initial;
    font-size: 15px;
    color: #b6b6b6;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 84px;
}
 
.social-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow:         10px 10px 0px 0px #95e1d3;
}  

.social-block {
    width: 228px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.pic-wrapper:hover>.member-pic>.social-wrapper {
    display: flex;
    transition-timing-function: 2000ms linear;
}

.item-hover {
    width: 56px;
    height: 56px;
    /* border: 1px solid #f9bd87; мне показалось, что бордер лишний, компенсировал его за счет отступа между блоками соц. сетей*/
    background-color: #fce38a; 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-list:hover>.item-hover {
    transform: rotateY(720deg);
    transition-duration: 2.2s;
    transition-delay: .4s;
    background-color: #95e1d3; 
}

.facebook {
    width: 15px;
}

.facebook:hover {
    transform: rotateY(360deg);
}

.twitter {
    width: 30px;
    height: 30px;
}

.pinterest {
    width: 30px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
} 

.footer-text {
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 300;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #f38181;
    margin-left: 5px;
}

.subscribe {
}

.subscribe-button {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
}

.input-email {
    width: 230px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #333;
    border: 1px solid #e7e7e7;
}

.input-email::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #cccccc;
    font-weight: 100;
}