* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', opensans-serif;
    font-size: 0;
}

.wrapper {
    width: 1200px;
    height: 1666px;
    /* background-color: yellow; */
    padding-top: 30px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 42px;
    /* background-color: gray; */
    margin-bottom: 126px;
    font-size: 0;
    color: #95e1d3;
    
}

.logo {
    /* height: 55px; */
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
}

.logo-link {
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
    font-size: 30px;
    margin-top: -4px;
    margin-bottom: -3px;
}

.navigation {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 491px;
}

.link-list {
    cursor: pointer;
}

.link-item {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #95e1d3;
}

/* .links>.link-item:hover{
    display: block;
    content: '';
    margin: auto;
    height: 3px;
    margin-top: 12px;
    background-color: #f38181;
    text-shadow: -0.2px 0 #95e1d3, 0 0.2px #95e1d3, 0.2px 0 #95e1d3, 0 -0.2px #95e1d3;
} */

/* .link-item:hover {
    text-shadow: -0.2px 0 #95e1d3, 0 0.2px #95e1d3, 0.2px 0 #95e1d3, 0 -0.2px #95e1d3;
    background-color: #f38181;
} */

/* .link-item::after :hover {
    background-color: #f38181;
} */

.main {
    width: 1200px;
    height: min-1439px;
    /* background-color: green; */
}

.title-1 {
    width: 1200px;
    min-height: 179px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 100;
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 18px;
    text-transform: uppercase;
}

.box {
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-top: 42px;
    /* background-color: #fff; */
    margin-bottom: 46px;
}

.services {
    width: 1200px;
    min-height: 333px;
    /* background-color: blue; */
    display: flex;
    /* align-items: center; */
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    display: block;
    width: 29%;
    display: flex;
    align-items: flex-start;
}

.service-wrapper {
    display: flex;
    flex-direction: column;
}

.service-img {
    padding: 0 25px;
}

.service-title {
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: -4px;
    margin-bottom: 10px;
}

.service-text {
    font-size: 15px;
    font-weight: 100;
}

.title-2 {
    width: 1200px;
    min-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-2-text {
    font-size: 15px;
    text-align: center;
    color: #999999;
    padding: 0 112px;
    margin-bottom: 55px;
}

.team {
    min-height: 626px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5; 
}

.team-item {
    position: relative;
    width: 381px;
    height: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-pic {
}

.pic-wrapper:hover>.member-pic{
    transform: translate(-10px, -10px);
    transition-duration: .3s;
}

.member-name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-weight: 300;
    margin-top: 30px;
}

.member-position {
    font-style: italic;
    text-transform: initial;
    font-size: 15px;
    color: #b6b6b6;
    font-weight: 300;
    margin-top: 16px;
}
 
.social-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    box-shadow:         10px 10px 0px 0px #95e1d3;
}  

.social-block {
    width: 224px;
    height: 56px;
    display: flex;
}

.member-pic:hover>.social-wrapper {
    display: flex;
    transition: 5.2s;
}

.item-hover {
    width: 56px;
    height: 56px;
    border: 1px solid #f9bd87;
    background-color: #fce38a; 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-list:hover>.item-hover {
    transform: rotateY(720deg);
    transition-duration: 2.2s;
    transition-delay: .5s;
    background-color: #95e1d3; 
}

.facebook {
    width: 15px;
}

.facebook:hover {
    transform: rotateY(360deg);
}

.twitter {
    width: 30px;
    height: 30px;
}

.pinterest {
    width: 30px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

/* .footer::before {
    display: block;
    border: 3px solid #000
} */

.footer {
    width: 1200px;
    height: 50x;
    /* background-color: #000; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 26px;
} 

.footer-text {
    width: 500px;
    height: 40px;
    /* background-color: green; */
    display: flex;
    align-items: center; 
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 200;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #f38181;
    margin-left: 5px;
}

.subscribe {
    width: 500px;
    height: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}

.subscribe-button {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.input-email {
    width: 230px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #000;
    /* background-color: blue; */
    border: 1px solid #e7e7e7;
}