* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.wrapper {
    background-color: white;
}

.content {
    /* background-color: violet; */
    width: 901px;
    margin: auto;
}

.header {
    height: 191px;
    width: 573px;
    /* background-color:gray; */
    margin: auto;
    display: block;
    text-align: center;
}

.link-item {
    display: inline-block;
    margin-right: 80px;
    line-height: 191px;
}
.link-item:last-child {
    margin-right: 0;
}

.link {
    /* display: inline-block; */
    font-size: 14px;
    color: #626262;
}

.link:hover{
    font-weight:600;
}


.main {
    /* background-color: green; */
    width: 901px;
    height: 1782px;
}

.article {
    display: inline-block;
    width: 420px;
    /* background-color: red; */
    margin-right: 57px;
}

.article:nth-child(2n+2){
    margin-right: 0;
}

.article-img {
    display: block;
    margin: auto;
    margin-bottom: 31px;
}

.article-category {
    display: block;
    margin-bottom: 30px;
    color: grey;
}

.title {
    margin-bottom: 41px;
    font-size: 28px;
    color: #626262;
}

.text_article {
    display: block;
    margin-bottom: 132px;
    color: #626262;
    
}

.last-text:last-child {
    margin-bottom: 0;
}

.footer {
    width: 901px;
    height: 185px;
    padding: 54px;
    /* background-color:pink; */
}

.button {
    margin: auto;
    text-align: center;
    background-color: white;
}

.button-button {
    width: 164px;
    height: 60px;
    font-size: 17px;
    border: 1px solid #626262;
    background: white;
}

.button-button:hover {
    border: 2px solid #626262;
    font-weight: 550;
}