@font-face {
    font-family: 'Petit Formal Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/petit-formal-script-v5-latin/petit-formal-script-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/petit-formal-script-v5-latin/petit-formal-script-v5-latin-regular.woff') format('woff');
  }

  /* montserrat-100 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-100.woff') format('woff'), /* Modern Browsers */
  }
  
  /* montserrat-100italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-100italic.woff') format('woff'), /* Modern Browsers */
  }

  /* montserrat-300 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-300.woff') format('woff'), /* Modern Browsers */
  }

  /* montserrat-300italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-300italic.woff') format('woff'), /* Modern Browsers */
  }

  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  }

  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
  }

  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  }

  /* montserrat-700italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
  }

  /* roboto-slab-100 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-100.woff') format('woff'), /* Modern Browsers */
}

/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-700.woff') format('woff'), /* Modern Browsers */
}