.main {
    min-width: 550px;
}

.title {
    text-align: center;
    /* background-color: yellow; */
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.services {
}

.service-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 119px;
    /* background-color: violet; */
}

.service-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.service-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.service-description {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #777777;
}



