* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.content-wrapper {

}

.header-title-wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                      url('../Img/Vector\ Smart\ Object1200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    min-width: 20rem;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.logo {
    margin-top: 7.93rem;
}

.logo-link {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.nav-link {
    
}

.navigation {
}

.nav-list {
    display: flex;
    justify-content: space-between;

}

.nav-item {
    margin-top: 0.3125rem;
    border-radius: 3.125rem/3.125rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.0);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-link {
    font-size: 0.875rem;
    color: #fff;
    font-weight: 400;
}

.nav-item:hover {
    border: 0.0625rem solid rgba(255, 255, 255, 1);
}

.site-title {
    margin: auto;
    padding-bottom: 8.625rem;
}

.main-title {
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem 4%;
}

.title-text {
    font-size: 0.825rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    /* padding: 1.25rem 0.25rem; */
}

.title-button {
    background-color: rgb(255, 78, 80);
    border-radius: 3.125rem/3.125rem;;
    display: flex;
    padding: 0.825rem 3rem;
    margin: auto;
    border: 0.0625rem solid rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button-link {
    font-size: 0.825rem;
    color: #fff;
    font-weight: 400;
}

.title-button:hover {
    background-color: rgb(240, 73, 76);
    border: 0.0625rem solid rgba(255, 255, 255, 0.3)
}

@media (min-width: 768px) {
    
    .header-title-wrapper {
        padding: 0 1.3%;
    }

    .header {
        min-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .logo {
        margin-top: 2.875rem;
    }

    .nav-item {
        margin-top: 2.875rem;
    }

    .site-title {
        padding: 9.6875 30% 14.625rem;
    }

    .main-title {
        /* margin: 0; */
    }

    .title-text {
        padding: 1.25rem 0%;
    }

}

    @media (min-width: 942px) {

        .header {
            max-width: 942px;
        }

        .site-title {
            max-width: 942px;
            padding: 9.6875rem 16.25rem 14.625rem;
        }

    }