* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.partners {
    background-color: #fff;
}

.partner-title {
    font-size: 1.375rem;
    text-align: center;
    margin: 4.375rem 7.5% 1.375rem;
}

.partner-box {

}

.parner-wrapper {

}

.parter-list {

}

.parner-item {

}

.partner-block {

}

.partner-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-box {
    position: relative;
}

.image-partner {
    border-radius: 50%;
}

.hobby-block {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 0.5rem;
    border: 0.1875rem solid #fff;
}

.hobbi-icon {

}

.red {
    background-color: #ff4e50;
}

.yellow {
    background-color: #ffa507;
}

.green {
    background-color: #1cd7ad;
}

.blue {
    background-color: #4e73db;
}

.partner-name {
    font-size: 0.875rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

.partner-description {
    font-size: 0.875rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 1.875rem;
    padding: 0 17%;
}

.partner-button {
    background-color: #fff;
    border-radius: 3.125rem/3.125rem;
    display: flex;
    padding: 0.875rem 3rem;
    margin: auto;
    border: 0.125rem solid  rgb(255, 78, 80);
    margin-top: 1.8125rem;
    margin-bottom: 3.5625rem;
    cursor: pointer;
}

.parner-button-link {
    font-size: 1.375rem;
    color: #ff4e50;
}

.partner-button:hover {
    text-shadow: -0.01875rem 0 #ff4e50, 0 0.01875rem #ff4e50, 0.01875rem 0 #ff4e50, 0 -0.01875rem #ff4e50;
}

@media (min-width: 768px) {

    .parter-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .parner-item {
        width: 35%;
    }

    .one {
        order: 1;
    }

    .two {
        order: 3;
    }

    .three {
        order: 2;
    }

    .four {
        order: 4;
    } 

}

@media (min-width: 942px) {

    .parter-list {
        max-width: 942px;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .parner-item {
        width: 40%;
    }

}