* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0;
    list-style: none;
}

.partners {

}

.partner-title {
    font-size: 22px;
    text-align: center;
    margin: 70px 24px;
    margin-bottom: 20px;
}

.partner-box {

}

.parner-wrapper {

}

.parter-list {

}

.parner-item {

}

.partner-block {

}

.partner-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-box {
    /* border: 1px solid red; */
    position: relative;
}

.image-partner {
    border-radius: 50%;
}

.hobby-block {
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid #fff;

}

.hobbi-icon {

}

.red {
    background-color: #ff4e50;
}

.yellow {
    background-color: #ffa507;
}

.green {
    background-color: #1cd7ad;
}

.blue {
    background-color: #4e73db;
}

.partner-name {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.partner-description {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 30px;
    padding: 0 52px;
}

.partner-button {
    background-color: #fff;
    border-radius: 50px/50px;
    display: flex;
    padding: 14px 48px;
    margin: auto;
    border: 2px solid  rgb(255, 78, 80);
    margin-top: 29px;
    margin-bottom: 57px;
    cursor: pointer;
}

.parner-button-link {
    font-size: 22px;
    color: #ff4e50;
    /* text-shadow: -0.3px 0 #ff4e50, 0 0.3px #ff4e50, 0.3px 0 #ff4e50, 0 -0.3px #ff4e50; */
}

.partner-button:hover {
    text-shadow: -0.3px 0 #ff4e50, 0 0.3px #ff4e50, 0.3px 0 #ff4e50, 0 -0.3px #ff4e50;
}