* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', opensans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.header {
    margin: auto;
    width: 1170px;
    padding: 0 30px;
    margin-top: 36px;
}

.logo {
    float: left;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 100;
    color: #555252;
}

.logo::first-letter {
    color:#1abc9c;
    font-weight: 700;

}

.site-nav {
    list-style-type: none;
}

.lsite-nav-item {

}

.site-nav-link{
    float: right;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 7px;
    padding: 5px 10px;
    color: #0f0101;
    font-size: 14px;
}

.site-nav-link:hover {
    color: #1abc9c;
    font-weight:400;
}

.container {
    width: 1170px;
    padding: 0 30px;
    margin: auto;
}

.products-title {
    display: block;
    margin-top: 106px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #515151;
}

.products-title::after {
    display: block;
    content: '';
    margin: auto;
    margin-top: 31px;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
      }

.product-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 92px;
}

.product-item {
    float: left;
    text-decoration: none;
    padding: 0;
    list-style: none;
    width: 255px;
    height: 322px;
    margin-bottom: 30px;
}

.product-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.product-img {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.product-title {
    float: left;
    display: inline-block;
    text-align: left;
    width: 201px;
    height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    padding-left: 14px;
    background-color: #323232;
    color: #fff;
}
.both:hover .product-title {
    background-color: #1abc9c;
}

.product-price {
    float: left;
    display: inline-block;
    width: 54px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    background-color: #8c8c8c;
    color: #fff;
}

.both:hover .product-price{
    background-color: #7fd9c7;
}

.footer {
    display: block;
    font-family: 'Open Sans', sans-serif;
    width: 1170px;
    margin: auto;
    padding: 30px;
    text-decoration: none;
    list-style: none;
    margin-top: 46px;
}

.news-header {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #515151;
}

.news-header::after {
    display: block;
    content: '';
    margin: auto;
    margin-top: 31px;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.news-list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    margin-top: 81px;
}

.news-item {
    float: left;
    display: inline-block;
    width: 350px;
    height: 510px;
}

.news-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.title {
    font-size: 19px;
    color: #555252;
    margin-left: 3px;
    line-height: 1.5;
}

.title::after {
    display: block;
    content: '';
    margin-top: 11px;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
}

.news-text {
    margin-top: 30px;
    margin-left: 2px;
    font-size: 14px;
    color: #555252;
    line-height: 1.5;
}

.botton-read-more {
    display: block;
    width: 159px;
    height: 51px;
    margin-top: 17px;
    text-align: center;
    line-height: 51px;
    background-color: #4ec6ab;
    border-radius: 5px;
}

.botton-link {
    color: #fff;
}