* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.header {
    /* background-color: green; */
    margin: auto;
    width: 490px;
    padding: 15px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2)
}

.site-nav {
    list-style-type: none;
}

.lsite-nav-item {

}

.site-nav-link{
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #626262
}

.site-nav-link:hover {
    color: #FFA000;
}