.header-title-wrapper {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                      url('../Img/Vector\ Smart\ Object1200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    /* min-width: 320px; */
    /* background-color:red; */
}

.header-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nav {
    text-align: center;
    margin-top: 1.25rem;
    /* justify-content: center; */
}

.nav-link {
    font-size: 0.875rem;
    font-weight: 100;
    border-radius: 3.125rem/3.125rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.0);
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
  }

  .nav-link:hover {
    border: 0.0625rem solid rgba(255, 255, 255, 1);
}

.logo {
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 7.93rem;
}

.logo-link {
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    color: #fff;
}


.main-title {
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem 4%;
    margin: auto;
    padding: 0;
    margin-top: 2.4375rem;
}

.title-text {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 100;
    text-align: center;
    padding: 1.25rem 1.25rem;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: auto;
    text-align: center;
}

.button-link {
    /* max-width: 17rem; */
    background-color: rgb(255, 78, 80);
    border-radius: 3.125rem/3.125rem;;
    display: flex;
    padding: 0.825rem 2.9rem;
    margin: auto;
    border: 0.0625rem solid rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 0.825rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 8.625rem;
}

    
    /* .title-text {
        font-size: 1.5rem;
        color: #fff;
        font-weight: 100;
        text-align: center;
        padding: 1.25rem 1.25rem;
        margin: auto;
    } */

    /* .button-link {
        padding: 0.825rem 1.3125rem;
        margin-bottom: 14.625rem;
    } */

@media (min-width: 768px) {

    .header-row {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .logo {
        margin-top: 2.1875rem;
        margin-left: 0;
    }

    .nav {
        margin-top: 2.3875rem;
        margin-right: 0;
    }

    .main-title {
        margin-top: 7rem;
        font-size: 3.25rem;
    }

    .title-text {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .button {
        /* margin: auto; */
        /* text-align: center; */
    }
    .button-link {
        padding: 0.825rem 1.25rem;
    }

}

@media (min-width: 992px) {
    
    .logo {
        margin-top: 3.187rem;
        margin-left: 0;
    }

    .nav {
        margin-top: 3.287rem;
        margin-right: 0;
    }

    .button-link {
        padding: 0.825rem 1.25rem;
    }

    .main-title {
        font-size: 3.25rem;
    }
}