* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  
a {
    text-decoration: none;
  }
  
ul {
    list-style: none;
  }

.container {
    min-width: rem(320);
    max-width: rem(760);
    margin: auto;
    padding: 0 rem(16);
}


