* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    counter-reset: count-site-nav-list;
}

.site-nav {
    /* background-color: green; */
    margin: auto;
    padding: 50px 15px 15px 15px;
    width: 300px;
    height: 300px;
    /* text-align: center; */
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2)
}

.site-nav-item {
    margin: auto;
    display: block;
    vertical-align: bottom;
    padding: 5px;
    /* padding: 10px 0; */
    /* background-color:rebeccapurple; */
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2)
}

.site-nav-list {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    margin: 15px;
    counter-increment: count-site-nav-list;
}

.site-nav-list::before {
    content: counter(count-site-nav-list, upper-roman);
    margin-right: 15px;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 3px;
  }