.section-four {}

.section-four__container {
    /* width: 848px;
    height: 400px; */
    margin: auto;
    }

.section-four__wrapper {
    /* background-color: #aaa; */
    width: 848px;
    height: 300px;
        margin: auto;
    }
    
.text-bracket {
    font-family: "Acrom-bold", sans-serif;
    letter-spacing: 1px;
    font-size: 36.67px;
    margin-bottom: 23px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider-four__container {
    max-width: 308px;
    height: 180px;
    /* background-color:paleturquoise; */
    margin: auto;
    border: 0.1px solid rgba(50, 50, 50, 0.02);
    box-shadow: -5px 7px 7px 0px rgba(50, 50, 50, 0.3);    
}


.slider__wrapper {
    max-width: 200px;
    margin: auto;
    border: none;
}

/* .slider__text-box {


} */
.slider__text-box {
    position: relative;
    /* background-color:palevioletred; */
    width: 308px;
    height: 180px;
    margin: auto;
    padding: 5px;
    /* border: 0.1px solid rgba(50, 50, 50, 0.02); */
    /* border: 10px solid red; */
    /* box-shadow: -4px 5px 7px 0px rgba(50, 50, 50, 0.3);     */
}


.slider__small-point {
    position: absolute;
    top: 30px;
    transform: translatex(350%);
    width: 8px;
    height: 8px;
    background-color:#f06e2c;
}



.slider__text {
    font-size: 16.67px;
    padding: 40px 35px;
    line-height: 22px;
}


/* img {
    max-width: 100%;
    height: auto;
} */
/* 
.site-wrapper {
    background: #aaa;
} */

/* .main {
    max-width: 400px;
    margin: 20px auto;
} */